*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        to top left,
        rgb(0, 49, 128),
        rgb(0, 68, 128),
        teal,
        teal
    );
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: rgb(31, 31, 31);
    color: white;
    display: block;
    margin: 100px auto 50px;
    padding: 20px 25px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.254);
    transition: 0.2s;
}

.btn:hover {
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.087);
    transform: scale(105%);
}

.modal {
    width: 40%;
    min-width: 300px;
    max-width: 500%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.116);

    text-align: center;
    /* background-color: rgba(240, 248, 255, 0.034); */
    background-image: linear-gradient(
        to top left,
        teal,
        rgb(0, 49, 128),
        rgb(0, 68, 128),
    );
    opacity:  0;
    transition: 0.3s;

}
